services:
  app:
    image: ${IMAGE_TAG}
    ports:
      - "3000:3000"

  zap:
    image: ghcr.io/zaproxy/zaproxy:stable
    depends_on:
      - app
    command: >
      zap-baseline.py
      -t http://app:3000
      -r zap-report.html
      -d
    volumes:
      - ./zap-reports:/zap/wrk
